<template name='userProfile'>
  <div class='user-profile'>
    <h1>{{username}} <span>{{fullName}}</span></h1>

    {{#if belongsTo}}
      <button class='profile-edit-button'>Edit Profile</button>
      <form class='profile-edit'>
        <label>First Name
          <input type='text' name='first-name' placeholder='First Name' value="{{firstName}}" />
        </label>
        <label>Last Name
          <input type='text' name='last-name' placeholder='Last Name' value="{{lastName}}" />
        </label>
        <input type='submit' value='Update' />
      </form>
      <h2>Friends</h2>
      <ul class='friends-list'>
        {{#each friends}}
          <li><a href="{{path}}">{{name}}</a> <span>{{drawingsCount}} drawings together</span></li>
        {{/each}}
      </ul>
    {{/if}}
    {{#unless belongsTo}}
      {{#if friendStatus}}
        <p>{{friendStatus}}</p>
        {{#if areFriends}}
          <button class='remove-friend'>Remove Friend</button>
        {{/if}}
        {{#if requestReceived}}
          <button class='accept-friend-request'>Accept Friend Request</button>
        {{/if}}
      {{else}}
        <button class='add-friend'>Add Friend</button>
      {{/if}}
    {{/unless}}
  </div>
</template>