<template name='usersList'>
  <div class='users-list main-section'>
    <h1 class='page-header'>Public Users</h1>
    {{#each users}}
      {{> userItem}}
    {{/each}}
  </div>
</template>

<template name='userItem'>
  <div class='public-user-item'>
    <p class='user-header'>
      <a href="{{path}}">
        {{username}}
        <span class='public-full-nanme'>{{firstName}} {{lastName}}</span>
      </a>
      {{#if areFriends}}
        <span class='are-friends'>
          <i class='fa fa-star'></i>
          Friend
        </span>
      {{/if}}
    </p>
    <p class='user-drawings-count'>
      {{drawingsCount}}
      {{#if isOneDrawing}}
        drawing
      {{else}}
        drawings
      {{/if}}
    </p>
  </div>
</template>