<template name='userProfile'>
  <div class='user-profile main-section'>
    <h1 class='page-header'>
      {{username}}
      <span class='actual-name'>{{firstName}} {{lastName}}</span>
    </h1>

    {{#if belongsTo}}
      <a href='' class='profile-edit-button'>Edit Profile</a>
      <form class='profile-edit'>
        <label>First Name
          <input type='text' name='first-name' placeholder='First Name' value="{{firstName}}" />
        </label>
        <label>Last Name
          <input type='text' name='last-name' placeholder='Last Name' value="{{lastName}}" />
        </label>
        <label>Private
          <input class='private-checkbox' type='checkbox' name='private' value='private' {{isPrivate}}/>
        </label>
        <input type='submit' value='Update' />
      </form>
      <div class='friends-list'>
        <h2 class='profile-header'>Your Friends</h2>
        {{#if friends}}
          {{#each friends}}
            <p class='friend-info'>
              <a href="{{path}}">{{name}}</a>
              <span class='drawings-together'>
                {{drawingsCount}}
                {{#if isOneDrawing}}
                  drawing
                {{else}}
                  drawings
                {{/if}}
                together
              </span>
            </p>
          {{/each}}
        {{else}}
          <p class='no-friends'>No friends yet</p>
        {{/if}}
      </div>
    {{else}}
      {{#if friendStatus}}
        <p class='friend-status'>{{{friendStatus}}}</p>
        {{#if areFriends}}
          <a class='remove-friend' href=''>Remove friend</a>
          <a class='start-drawing closed' href=''>Draw together!</a>
          <div class='new-friend-drawing'>
            <form class='new-friend-drawing-form'>
              <label>Title
                <input type='text' name='title' placeholder='Drawing Title'>
              </label>
              <label>Private
                <input class='private-checkbox' type='checkbox' name='private' />
              </label>
              <input type='submit' value='Start Drawing' />
              <p class='failure'></p>
            </form>
          </div>
        {{/if}}
        {{#if requestReceived}}
          <a class='accept-friend-request' href=''>Accept friend request</a>
        {{/if}}
      {{else}}
        <a class='add-friend' href=''>Add friend</a>
      {{/if}}
    {{/if}}

    <div class='profile-drawings-list'>
      <h2 class='profile-header'>Drawings</h2>
      {{#if drawings}}
        {{#each drawings}}
          {{> drawingItem}}
        {{/each}}
      {{else}}
        <p class='no-drawings'>No drawings yet</p>
      {{/if}}
    </div>
  </div>
</template>