@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("http://fonts.googleapis.com/css?family=Fredoka+One");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

$green: #378C46;
$jungle: #005146;
$blue: lighten(#103868, 5%);
$bright-blue: #3863FF;
$white: #fefefe;

*{
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  color: $blue;
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1, h2, .actual-name, i{
  font-family: 'Fredoka One', sans-serif;
  text-align: center;
}
h1{
  color: lighten($jungle, 10%);
}
.actual-name{
  color: $jungle;
}
h2{
  color: $blue;
}
a{
  text-decoration: none;
  color: $bright-blue;
}
.scrawl-logo{
  margin: 44% 0 0 15px;
  width: 90%;
}
.copyright{
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: darken($white, 20%);
  font-size: 0.7em;
}
.main-section{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 30px 8px;
  background: url(images/subtle-triangles.png);
  background-repeat: repeat;
  background-attachment: fixed;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: rgba($white, 0.9);
  font-size: 1.7em;
}
.nav-menu, .new-friend-drawing, .profile-edit, .signup, .login-form, .signin-signup, .failure, .notification-list, #color-wheel{
  display: none;
}
.signin-signup{
  float: right;
}
.login-form{
  font-size: 0.8em;
}
.login-form .failure{
  font-size: 0.6em;
}
.nav-menu{
  padding: 55px 0 15px 6px;
}
.nav-menu a{
  display: block;
}
.nav-menu i, .login-header i{
  width: 30px;
  text-align: center;
  color: lighten($jungle, 10%);
}
.menu-button{
  position: absolute;
  top: 4px;
  left: 8px;
  padding: 4px 5px 0;
}
.new-drawing-link{
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 30px;
  padding: 3px 3px 0 5px;
}
.menu-button, .new-drawing-link{
  height: 40px;
  width: 40px;
  background: rgba($jungle, 0.9);
  border-radius: 20px;
  text-align: center;
  i{
    color: $white;
  }
}
.drawing-item{
  min-height: 118px;
  border-bottom: 2px $blue solid;
  svg{
    margin-top: -224px;
    margin-left: -133px;
    -webkit-transform: scale(0.18, 0.18);
    transform: scale(0.18, 0.18);
  }
  h3{
    color: lighten($jungle, 10%);
    font-weight: bolder;
    font-size: 1.5em;
    margin: 15px 0 10px 0;
  }
  .created-ago{
    font-size: 0.8em;
    margin: 0 0 11px 0;
  }
  &:last-child{
    border-bottom: none;
  }
}
.drawer-names{
  margin: 0 0 10px 0;
}
.drawer-link{
  border-right: 1px $blue solid;
  padding-right: 5px;
  &:last-child{
    border-right: none;
    padding-right: 0;
  }
}
.thumbnail{
  width: 57.6px;
  height: 102.24px;
  border: 1px darken($white, 15%) solid;
  overflow: hidden;
  background: white;
  float: right;
  clear: both;
}
.mark-notifications-read, .notification-info, .notification-time{
  font-size: 0.6em;
  margin: 0;
}
.notification-item{
  margin: 5px 0 5px 10px;
}
.no-notifications{
  font-size: 0.8em;
  margin: 5px 0 5px 10px;
}
#color-wheel{
  position: absolute;
  left: 10000px;
  top: 10000px;
}
.login-form{
  overflow: auto;
}
.login-form form{
  margin: 0 6px;
}
input, label, select, button{
  display: block;
  margin: 5px 0;
}
input, button, select{
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  border: 1px $bright-blue solid;
  border-radius: none;
}
input[type=text], input[type=password], select{
  background:$white;
  width: 100%;
}
button, input[type=submit]{
  -webkit-appearance: none;
  background: $bright-blue;
  color: $white;
}
input[type=text], input[type=password], input[type=submit], button{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.drawing-controls{
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10;
}
.exit-drawing{
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 10;
}
.fa-chevron-left{
  margin-left: -3px;
}
.icon-button{
  display: inline-block;
  margin: 0;
  padding: 10px 0 0 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 1.7em;
  text-align: center;
  background: black;
  i{
    color: white;
  }
}
.undo{
  position: absolute;
  top: 0;
  right: 55px;
}
.choose-color{
  position: absolute;
  top: 0;
  right: 0;
}
.choose-color-sample{
  padding: 10px 0 0 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #000;
  font-size: 1.5em;
  text-align: center;
  color:$white;
}
.color-picker-container{
  position: fixed;
  top: 10%;
  left: 19%;
  width: 200px;
  height: 200px;
  border-radius: 256px;
  display: none;
  overflow: hidden;
}
#color-picker{
  width: 256px;
  height: 256px;
  border-radius: 256px;
  margin: 0;
}
.stroke-width-picker-container{
  position: fixed;
  top: 47%;
  left: 27%;
  width: intrinsic;
  background:$white;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
.working-canvas, .saved-canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.working-canvas{
  z-index: 0;
}
.saved-canvas{
  z-index: -1;
}
.page-header{
  margin-top: 10px;
}
.actual-name{
  display: block;
  font-size: 0.8em;
  margin-bottom: 15px;
}
.user-profile .page-header{
  margin: 10px 0;
}
.friend-status, .remove-friend{
  margin: 0;
  display: inline;
}
.remove-friend{
  font-size: 0.8em;
}
.accept-friend-request, .add-friend{
  width: intrinsic;
  display: block;
  padding: 4px;
  background: $bright-blue;
  color: $white;
  font-size: 0.9em;
}
.start-drawing{
  width: intrinsic;
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
  color: $white;
  background: $bright-blue;
  padding: 5px;
}
.public-user-item{
  border-bottom: 2px $blue solid;
  &:last-child{
    border-bottom: none;
  }
}
.drawings-together{
  font-size: 0.8em;
}
.user-header{
  font-size: 1.5em;
  margin: 15px 0 10px;
}
.are-friends{
  font-size: 0.7em;
  display: block;
  color: lighten($jungle, 10%);
  i{
    color: lighten($jungle, 10%);
  }
}
.user-drawings-count{
  margin: 0 0 15px 0;
}
.failure{
  margin-left: 15px;
  color: #A30000;
}