*{
  font-family: sans-serif;
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: white;
}
#main{
  padding-top: 80px;
}
.user-profile{
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 30px;
}
.profile-edit, .signup, .login-form, .failure{
  display: none;
}
.login-form{
  position: absolute;
  top: 0;
  left: 40px;
  background: white;
}
input, label, select, button{
  display: block;
}
.drawing-controls{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.working-canvas{
  z-index: 0;
}
.saved-canvas{
  z-index: -1;
}