*{
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: white;
}
.user-profile{
  position: absolute;
  left: 0;
  top: 0;
}
.profile-edit, .signup, .login-form, .failure, .notification-list, #color-wheel{
  display: none;
}
.notification-list{
  position: absolute;
  top: 18px;
  left: 92px;
  background: white;
}
.login-form{
  position: absolute;
  top: 0;
  left: 43px;
  background: white;
}
input, label, select, button{
  display: block;
}
.drawing-controls{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.choose-color{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #000;
}
.color-picker-container{
  position: fixed;
  top: 30px;
  left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 256px;
  display: none;
  overflow: hidden;
}
#color-picker{
  position: absolute;
  top: -28px;
  left: -28px;
  width: 256px;
  height: 256px;
}
.stroke-width-picker-container{
  position: fixed;
  top: 30px;
  left: 60px;
  display: none;
}
.exit-drawing{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.working-canvas, .saved-canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.working-canvas{
  z-index: 0;
}
.saved-canvas{
  z-index: -1;
}