<template name='drawingsList'>
  <div class='your-recent-drawings main-section'>
    {{#if currentUser}}
      <h1 class='page-header'>Your Recent Drawings</h1>
      {{#if drawings}}
        {{#each drawings}}
          {{> drawingItem}}
        {{/each}}
      {{else}}
        <p class='no-drawings'>No drawings yet</p>
      {{/if}}
    {{else}}
      <h1 class='welcome'>Welcome to Scrawl</h1>
    {{/if}}
  </div>
</template>

<template name='drawingItem'>
  <div class='drawing-item'>
    {{#if thumbnail}}
      <div class='thumbnail'>
        {{{thumbnail}}}
      </div>
    {{/if}}
    <a class='drawing-title' href="{{pathFor 'drawingPage'}}"><h3>{{title}}</h3></a>
    <p class='created-ago'>{{timeAgo}}</p>
    <p class='drawer-names'>
      Drawers:
      {{#each drawerNames}}
        <a class='drawer-link' href="{{path}}">{{name}}</a>
      {{/each}}
    </p>
  </div>
</template>