<template name='drawingCreate'>
  <div class='create-new-drawing'>
    <h1 class='page-header'>Create New Drawing</h1>
    <form class='create-drawing-form'>
      <button class='random-drawing'>Draw with random user</button>
      {{#if friends}}
        <label>Pick friends to draw with
          <select class='friends-select' name='friends' multiple>
            <option disabled>Select friends</option>
            {{#each friends}}
              <option value='{{_id}}'>{{name}}</option>
            {{/each}}
          </select>
        </label>
        <label>Title
          <input type='text' name='title' placeholder='Drawing Title' />
        </label>
        <label>Private
          <input class='private-checkbox' type='checkbox' name='private' />
        </label>
        <input type='submit' value='Start Drawing' />
        <p class='failure'></p>
      {{else}}
        <p class='no-friends'>You have no friends added! Add some or draw with a random user.</p>
      {{/if}}
    </form>
  </div>
</template>