<template name='drawingControls'>
  <div class='drawing-controls closed'>
    <a class='undo' href=""><div class='icon-button'><i class="fa fa-undo"></i></div></a>
    <a class='choose-color closed' href=''><div class='choose-color-sample closed'>3</div></a>
  </div>
  <div class='color-picker-container'>
    <canvas id='color-picker' width='200' height='200'></canvas>
    <img id='color-wheel' src="/images/colorwheel.png"/>
  </div>
  <div class='stroke-width-picker-container'>
    <input type='range' class='stroke-width' name='stroke-width' min=1 max=50 value=3 />
  </div>
</template>