<template name='notifications'>
  <a class='show-notifications closed' href=''>
    Notifications
    {{#if notificationCount}}
      <span>{{notificationCount}}</span>
    {{/if}}
  </a>
  <div class='notification-list'>
    <ul>
      {{#if notificationCount}}
        {{#each notifications}}
          {{> notificationItem}}
        {{/each}}
      {{else}}
        <li>No notifications</li>
      {{/if}}
    </ul>
  </div>
</template>

<template name='notificationItem'>
  <li>
    <a href="{{notificationPath}}">
      {{notificationSender}} {{notificationMessage}}
    </a>
  </li>
</template>