<template name='notifications'>
  <a class='show-notifications closed' href=''>
    Notifications
    {{#if notificationCount}}
      <span>{{notificationCount}}</span>
    {{/if}}
  </a>
  <div class='notification-list'>
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationItem}}
      {{/each}}
    {{else}}
      <p>No notifications</p>
    {{/if}}
  </div>
</template>

<template name='notificationItem'>
  <a href="{{notificationPath}}">
    <p>{{notificationSender}} {{notificationMessage}}</p>
  </a>
</template>