<template name='accountLogin'>
  <a href='' class='login-header closed'>Sign in</a>
  <div class='login-form'>
    <form class='signing-in'>
      <label>Username
        <input type='text' name='username' placeholder='Username' />
      </label>
      <label>Password
        <input type='password' name='password' placeholder='Password' />
      </label>
      <label class='signup'>Confirm Password
        <input class='signup' type='password' name='confirm-password' placeholder='Confirm Password' />
      </label>
      <label class='signup'>First Name
        <input class='signup' type='text' name='first-name' placeholder='First Name' />
      </label>
      <label class='signup'>Last Name
        <input class='signup' type='text' name='last-name' placeholder='Last Name' />
      </label>
      <input class='login-submit' type='submit' value='Sign in' />
    </form>
    <p class='failure'></p>
    <a href='' class='signin-signup ss-signup'>Sign up</a>
  </div>
</template>